:root {
  --white: #ffffff;
  --grey: #f5f4f3;
  --orange: #ea9d42;
  --peach: #f8bf7c;
  --blue: #29abe2;

}
/* font-family: var(--font-serif); */


/* -----BODY----- */
html{
  position:relative;
  min-height: 100%;
  background: url(images/joanna-kosinska-78uNJt1kPw8-unsplash.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--orange);
}




/* -----HEADERS + FOOTERS----- */
.topnav {
  overflow: hidden;
  background-color: var(--orange);
}

.topnav-logo{
  float:left;
  display: block;
  color: var(--white);
  font-size: 1.1em;
  padding-left: 1.1em;
}


.topnav a {
  float: right;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 1.1em;
  text-decoration: none;
  font-size: 1.1em;
}

.topnav a:hover {
  background-color: var(--orange);
  color: var(--white);
}

.topnav a.active {
  background-color: var(--orange);
  color: var(--white);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 675px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    /* margin-right: 10vw; */
    display: block;
  }

  .orange {
    color: var(--orange);
  }

  a.topnav-logo.orange {
    color: var(--orange);
  }

  img {
    width: 300px;
  }
}

@media screen and (max-width: 675px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  a.topnav-logo.orange {
    color: var(--orange);
  }

  img {
    width: 200px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--orange);
  text-align: right;
  padding: 1px;
  padding-right: 5vw;
  font-size: .9em;
  color: var(--white);
}



/* -----MAIN ELEMENTS----- */
img {
  overflow: hidden;
  /* margin-top: 1vw;
  margin-bottom: 1vw; */
}

h1 {
  font-size: 6vw;
  text-align: left;
  margin-top: 1.5vw;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  line-height: 1.3em;
}


.portfolio a:link {
  color: var(--white);
  text-decoration: none;
}

.portfolio a:visited {
  color: var(--white);
  text-decoration: none;
}

.portfolio a:hover {
  color: var(--peach);
}

.portfolio a:active {
  text-decoration: none;
}


.contact a:link {
  color: var(--white);
  text-decoration: none;
}

.contact a:visited {
  color: var(--white);
  text-decoration: none;
}


/* -----PAGES----- */
.content {
  min-height: 100%;
  /* padding-top: 2vw;
  padding-bottom: 5vw; */
  padding-left: 15vw;
  padding-right: 15vw;
  }


.contact {
  background-color: var(--peach);
  color: var(--white);
  text-align: left;
  padding-top: 10vh;
  padding-bottom: 20vh;
}


.hero {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.portfolio {
  padding-top: 7vh;
  padding-bottom: 10vh;
}


/* -----CLASS SPECIFICS----- */

.center {
  text-align: center;
  margin-bottom: 1.5em;
}

.h2--vw {
  font-size: 4vw;
  text-align: right;
  margin-bottom: 6vw;
}

.grid-item--about--item-2 h2 {
  margin-top: 0;
}

.profile {
  margin-top: 4vw;
  margin-bottom: 4vw;
}

/* -----ABOUT GRID FORMATTING----- */


.grid-container--about{
  background-color: var(--grey);
  display: grid;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

@media screen and (min-width: 65em) {
  .grid-container--about{
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item--about--item-1{
  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center; */
}

.grid-item--about--item-2{
  /* border: 1px solid blue; */
  /* justify-content: center; */
  /* align-items: center; */
}


/* -----PORTFOLIO GRID FORMATTING----- */

.portfolio {
  background-color: var(--peach);
  color: var(--white);
}
.grid-container--portfolio {
  display: grid;
  grid-gap: 7vw;
}

@media screen and (min-width: 65em) {
  .grid-container--portfolio{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 500px) {
  .responsive-image{
    width: 300px;
  }
}


/* button */

button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  margin-bottom: 5vw;
  text-align: left;
}


/* Image overlay */

.container {
  position: relative;
  width: 300px;
  height: 190px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--blue);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--white);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
